<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.job.api.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>JobServlet</servlet-name>
        <servlet-class>com.job.api.JobServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JobServlet</servlet-name>
        <url-pattern>/job</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>OrganizationServlet</servlet-name>
        <servlet-class>com.job.api.OrganizationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrganizationServlet</servlet-name>
        <url-pattern>/org</url-pattern>
    </servlet-mapping>
</web-app>